<!-- Start of nav bar -->
<!-- Toolbar -->
<div class="container-fluid">
    <div class="row">
        <mat-toolbar color="accent" class="app-header">
            <div class="logo-image" routerLink=""> </div>
            <div id="writing">
                <p><strong> Save Your Thoughts </strong></p>
            </div>
        </mat-toolbar>
    </div>

    <!-- Start of login div -->

    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

            <form class="login-form">
                <div class = "logintitle">

                </div>

                <mat-card-header>
                    <mat-card-title>Sign in to Jottings</mat-card-title>
                </mat-card-header>
            <div class = "login-fields">
                
                    <div class = "form-field">
                    <mat-form-field style = "width: 16rem" appearance = "fill">
                        <input type="text" matInput name="username" [(ngModel)]="username" [formControl]="email" placeholder="Email" required>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    </div>
                    
                    <div class = "form-field">
                    <mat-form-field style = "width: 16rem" appearance = "fill">
                        <input [type]="hide ? 'password' : 'text'" matInput name="password" [(ngModel)]="password" [formControl]="pass" placeholder="Password" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                        <mat-error *ngIf="pass.invalid">{{getPasswordErrorMessage()}}</mat-error>
                    </mat-form-field>
                    </div>

                <a mat-raised-button [disabled]="email.invalid || pass.invalid" (click)=login() color="primary" class="btn-block"><strong>Sign In</strong></a>
                <div id="newUserHyper">
                    <p>New User ?
                        <a [routerLink]="['/register']" routerLinkActive="router-link-active">
                            Join Now
                        </a>
                    </p>
                    <a [routerLink]="['']" routerLinkActive="router-link-active">Forgot Password?</a>

                </div>
            </div>

            </form>
    </div>

    <!-- End of login div -->
    <div class="row">
        <mat-toolbar color="accent" class="app-footer">
            <!-- <div class="logo-image" routerLink=""> </div> -->
            <!-- <div id="writing">
                <p><strong> Save Your Thoughts </strong></p>
            </div> -->
        </mat-toolbar>
    </div>
</div>