@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');
.shift-30 {
    margin-top: 30px;
}

.login-box{
    text-align: center;
    position: relative;
}

.form-field{
    position: relative;
    padding: auto;
    display:block;
    min-height: fit-content;
}

.login-fields {
    margin-top: 8rem;
}

.logintitle{
    height: 3rem;
}

.login-form{
    margin-top: 5rem;
    position: relative;
    text-align: center;
    height: 38rem;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.login-wrapper{
    margin-top: 4rem;
    position: relative;
    text-align: center;
    /* height: 88rem; */
}

.login-full-width{
    height: 20%;
}

.app-footer {
    margin-top: 0.75rem;
    justify-content: space-between;
    position: fixed;
    top: 92%;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.container-mine {
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
}

.example-card {
    margin: 30px;
    overflow: hidden;
}

.column {
    float: left;
    width: 31%;
    padding: 0 10px;
    height: 500px;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.example-card {
    margin: 20px;
    overflow: hidden;
}

.column {
    float: left;
    width: 31%;
    padding: 0 10px;
    height: 500px;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

#stepper {
    width: 100%;
}


/* Navbar Image-logo */

.logo-image {
    background-image: url(../../assets/bulb-3656.png);
    background-repeat: no-repeat;
    width: 80px;
    height: 57px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
    outline: none;
    cursor: pointer;
}

.app-header {
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

#writing {
    margin-top: 20px;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 100px;
}

#detail {
    margin-top: 40px;
    margin-bottom: 40px;
}

img {
    height: 300px;
}

.flex-row {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

mat-card-content {
    font-size: 16px !important;
}