<!-- Start of nav bar -->
<!-- Toolbar -->
<div class="container-fluid">
    <div class="row">
        <mat-toolbar color="accent" class="app-header">
            <div class="logo-image" routerLink=""> </div>
            <div id="writing">
                <p><strong>Jottings</strong></p>
            </div>
            <span class="nav-tool-items">
                <button mat-raised-button matRipple color="primary" class = "login-button" routerLink="/login" routerLinkActive="active">Sign In</button>
                <button mat-raised-button mat-ripple color="primary" routerLink="/register" routerLinkActive="active">Register</button>

            </span>
        </mat-toolbar>
    </div>>
    <!-- Start of hero image  -->


    <div class="herorow">

        <!-- <span style="opacity: 1;">
            <div class=hero-text><strong>Sticky</strong></div>
            <p>Take Notes.</p>
        </span> -->

    </div>
    <!-- End of hero image-->

    <div class="row">
        <mat-toolbar color="accent" class="app-footer">
            <!-- <div class="logo-image" routerLink=""> </div> -->
            <!-- <div id="writing">
                <p><strong> Save Your Thoughts </strong></p>
            </div> -->
        </mat-toolbar>
    </div>
    <!-- Start Of Cards -->
    <!-- <div class="row shift-30 quicksand">
        <div class="col-sm-4">
            <mat-card class="example-card mat-elevation-z10">
                <mat-card-header>
                    <mat-card-title>Register Now</mat-card-title>
                    <mat-card-subtitle>Go-Green</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/dummy.svg" alt="Photo of a Shiba Inu" height="300px">
                <mat-card-content>
                </mat-card-content>

            </mat-card>
        </div> -->

    <!-- </div> -->

    <!-- End of cards -->

    <!-- <div class=flex-container>
        <div class="flex-row" id="detail">
            <div class="flex-column">
            </div>
            <div class="flex-column">
                <img src="../../../assets/stepper.svg">

            </div>
        </div>
        <div class="flex-row" id="detail">
            <div class="flex-column">
                <img src="../../../assets/dummy.svg">
            </div>
            <div class="flex-column">
            </div>
        </div>
        <div class="flex-row" id="detail">
            <div class="flex-column">
            </div>
            <div class="flex-column">
                <img src="../../../assets/dummy.svg">

            </div>
        </div>
    </div> -->



</div>
<!-- End of footer -->