<!-- Start of nav bar -->
<!-- Toolbar -->
<div class="container-fluid">
  <!-- <div class="row"> -->
    <mat-toolbar color="accent" class="app-header">
      <div class="logo-image" routerLink=""> </div>
      <div id="writing">
          <p><strong> {{username}} </strong></p>
      </div>
      <span class="signout">
        <a mat-raised-button (click)=logOut() color="primary" class="btn-block"><strong>Sign Out</strong></a>

    </span>
  </mat-toolbar>

  <div (click)=openNoteForm() class = "addNote">
    <button mat-fab color="primary">
      <mat-icon >add</mat-icon>
  </button>
  </div>

  <div *ngIf="openForm"  class = "noteField">
    <!-- <mat-form-field appearance = "fill">
        <input  matInput name="note" [(ngModel)]="note" placeholder="Input your note" required> -->
        <!-- <mat-error *ngIf="pass.invalid">{{getPasswordErrorMessage()}}</mat-error> -->
    <!-- </mat-form-field> -->
    <div>
    <mat-form-field appearance="fill">
      <textarea matInput [(ngModel)]="noteContent" [formControl]="note"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5" placeholder="Enter note"></textarea>
    </mat-form-field>
    </div>

    <div class="savebutton">
      <button  (click)=closeNoteForm() mat-fab color="primary">
        <mat-icon >close</mat-icon>
    </button>
    <button (click)=addNote() mat-fab color="primary">
      <mat-icon >save</mat-icon>
  </button>
</div>


    <!-- <mat-form-field appearance="fill">
      <textarea matInput [(ngModel)]="noteContent" [formControl]="note"></textarea>
    </mat-form-field>
    <a mat-raised-button type="text" (click)=addNote() color="primary" class="btn-block"><strong>Save</strong></a> -->
  </div>

    
  <!-- </div> -->

  <!-- <div class = "matCards"> -->
    <div class="matrow">
      <div class = "matCards" fxLayout="row wrap" *ngFor="let note of noteList">
        <mat-card class="notecard">
          <mat-card-content>
            <mat-card-title>
              <span>{{note.content}}</span>
            </mat-card-title>
          </mat-card-content>
          <mat-card-actions align="end">
            <div class = "notemetadata">
              <!-- Uncomment this when notes support sharing feature-->
              <!-- <mat-card-subtitle>{{note.creator}}</mat-card-subtitle> -->
              <mat-card-subtitle>{{note.createdOn | date: 'dd/MM/yyyy'}}</mat-card-subtitle>
            </div>
            <div class = "actionbuttons">
            <button mat-fab color="primary">
                <mat-icon >edit</mat-icon>
            </button>
            <button  (click)="deleteNote(note.id!)" mat-fab color="warn">
                <mat-icon >delete</mat-icon>
            </button>
          </div>
        </mat-card-actions>
        </mat-card>
      </div>
    </div>
  <!-- </div> -->

  <!-- End of login div -->
  <!-- <div class="row"> -->
      <!-- <mat-toolbar color="accent" class="app-footer">
      </mat-toolbar> -->
  <!-- </div> -->
</div>